


.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}


/** Cores de Tipos Pokemons **/

.normal {
    background-color: #929da3;
}
.fighting {
    background-color: #ce416b;
}
.flying {
    background-color: #8fa9de;
}
.poison {
    background-color: #aa6bc8;
}
.ground {
    background-color: #d97845;
}
.rock {
    background-color: #c5b78c;
}
.bug {
    background-color: #91c12f;
}
.ghost {
    background-color: #5269ad;
}
.steel {
    background-color: #5a8ea2;
}
.fire {
    background-color: #ff9d55;
}
.water {
    background-color: #5090d6;
}
.grass {
    background-color: #63bc5a;
}
.electric {
    background-color: #f4d23c;
}
.psychic {
    background-color: #fa7179;
}
.ice {
    background-color:#73cec0;
}
.dragon {
    background-color:#0b6dc3;
}
.dark {
    background-color:#5a5465;
}
.fairy {
    background-color: #ec8fe6;
}
.physical {
    background-color:#ea551e;
}
.special {
    background-color:#1f4e94;
}


.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem 1rem;
    color: whitesmoke;
    border-radius: 1rem;
}

.pokemon .name {
    color: whitesmoke;
    margin-bottom: .25rem;
    text-transform: capitalize;
    
}

.pokemon .number {
    color: #000;
    opacity: 0.3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin-bottom: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    filter: brightness(1.1);
    color: whitesmoke;
    padding: .25rem .825rem;
    margin: .25rem 0;
    font-size: .625rem;
    font-weight: 350;
    border-radius: .824rem;
    text-align: center;
}

.pokemon .detail img {
    align-self: flex-end;
    max-width: 100%;
    height: 70px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem;
}

.pagination button {
   background-color: #6493EB;
   border: none;
   border-radius: 1rem;
   color: whitesmoke;
   margin: .25rem 0;
   padding: .625rem 2rem;
   font-size: .825rem;
}

/* ----------------------------LAYOUT RESPONSIVO ---------------------------*/

/* Lista: Para telas a partir de 380 pixels  = 2 colunas de cards */
@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }   
}

/* Lista: Para telas a partir de 576 pixels  = 3 colunas de cards */
@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }   
}

/* Lista: Para telas com 992 pixels ou mais = 4 colunas de cards*/
@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }   
}